<div class="row">

    

    <form action="/admin/generate-fake-posts" method='post'>
     <h1>Generate Dummy Posts</h1>
        <div class ='form-group'>
            <label for="amount">How Many Posts?</label>
            <input type="number" class"form-control" name="amount">
             <button type="submit" class="btn btn-dark">Generate Posts</button>
        </div>
    </form>
  
</div>
 
<div class="row">

    <canvas id="myChart"></canvas>
</div>